* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #e1e1e1;
    margin:0;
    padding:0;
    height:100%;

    font-family: Arial,sans-serif;
    font-size: medium;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.header, .footer, .content {
    min-width: 1024px;
}

.header {
    top: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
}

.header .header-content, .header .header-content .logo-part,
.header .header-content .options-part {
    height: 100%;
}

.header .header-content {
    width: 1024px;
    margin: 0px auto 0px auto;
    background-color: beige;
    min-height: 100%;
}

.header .header-content .logo-part {
    width: 768px;
    float: left;
    background-color: aqua;
}

.header .header-content .options-part {
    width: 230px;
    float: left;
    background-color: aquamarine;
}

.content, .content .main, .content .sidebar, .registration-body {
    min-height: 500px;
}

.content {
    width: 1024px;
    margin: 0px auto 0px auto;
    padding-bottom: 50px;
}

.content .main {
    width: 768px;
    height: 100%;
    float: left;
    background-color: white;
}

.content .sidebar {
    width: 230px;
    height: 100%;
    float: left;
}

.right {
    margin-left: 26px;
    margin-right: 0px;
}

.left {
    margin-left: 0px;
    margin-right: 26px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    text-align: center;
    width: 100%;

    padding-top: 30px;
}

.footer-content {
    background-color: white;
    height: 100%;
}

.no-padding {
    padding: 0;
}

.round-corners {
    border-radius: 5px 5px 5px 5px;
}

.content .registration-body {
    height: 100%;
    background-color: white;
}

.edit-body {
    padding: 40px 60px 40px 60px;
}

.main-content-padding {
    padding: 45px 50px 25px 50px;
}

.label {

}

.value {

}

.ui-panelgrid tr,
.ui-panelgrid td,
.ui-panelgrid-cell label {
    border: none !important;
}

.btn-bottom .ui-button {
    min-width: 160px;
}